<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="center">
    <h1>Login</h1>
    <form method="POST" onsubmit="return false" id="login">
      <div class="txt_field">
        <input type="email" id="emailID" placeholder="Email" name="email">
        <span></span>
      </div>
      <p class="err"></p>
      <div class="txt_field">
        <input type="password" id="passwordID" placeholder="Password" name="pass">
        <span></span>
      </div>
      <p class="err"></p>
      <div class="pass">Forgot Password?</div>
      <input type="submit" value="Login" id="submitID">
      <div class="signup_link">
        Chưa có tài khoản ? <a href="/register">Đăng ký</a>
      </div>
    </form>
  </div>

</body>
<script src="js/Login.js"></script>

</html>